

body {
  margin: 30px;
  padding: 10px;
  border: 3px solid #D4AF37;
background-color: #EEEEEE;
}

ul {
  list-style-type: none;
  padding: 0px;
}

#title {
  color: #4E4E4E;
  margin-bottom: 1.5em;
}

#ingredients {
  color: #D4AF37;
  font-size: 18px;
  letter-spacing: 3px;
}

.items {
  color: #4E4E4E;
  font-family: monospace;
  line-height: 1.7em;
}

#footer {
  color: #D4AF37;
  font-size: 9px;
  letter-spacing: 2px;
  text-decoration: none;
}
