

body {
  margin: 30px;
  padding: 10px;
  border: 3px solid #C4A27B;
background-color: #FCFCFD;
}

ul {
  list-style-type: none;
  padding: 0px;
}

#title {
  color: #5B5B5B;
  margin-bottom: 1.5em;
}

#ingredients {
  color: #C4A27B;
  font-size: 18px;
  letter-spacing: 3px;
}

.items {
  color: #868686;
  font-family: monospace;
  line-height: 1.7em;
}

#footer {
  color: #C4A27B;
  font-size: 9px;
  letter-spacing: 2px;
  text-decoration: none;
}
